/* 
#esk8{
  display: flex;
  justify-content: center;
} */

img {
    width: 50%;
    border-radius: 20px;

}
h2 {
    font-family: 'Helvetica Neue', cursive;
    font-size: 25px;
    line-height: 10px;
    text-align: center;
}
p, ul {
    font-family: 'Verdana', sans-serif;
    padding: 0% 5% 0% 5%;
    text-align: center;
}
