#name {
    font-family: 'Helvetica', sans-serif;
    text-align: center;
    color: black;
    font-size: 72px;
}
#header {
    background-color: e0e0ff;
    width: 100%;
}
h3 {
    font-family: 'Helvetica', sans-serif;
    font-size: 50px;
    line-height: 10px;
}
p, ul {
    font-family: 'Helvetica', sans-serif;
    padding: 0% 5% 0% 5%;
}
#bio {
    display: block;
    width: 70%;
    float: right;
}